:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:disabled {
  cursor: unset;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

input[type="file"] {
  display: none;
}

.custom-file-upload {
  border-radius: 8px;
  background-color: #f9f9f9;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
}
.custom-file-upload:hover {
  border-color: #646cff;
}

.card {
  padding: 0 0 1em 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.result {
  display: flex;
  padding: 1em;
  justify-content: center;
  border-radius: 8px;
  border: 1px solid #646cff;
}

.result-item {
  display: flex;
  justify-content: left;
}

.error {
  color: #f00;
}

.preloader{
  width: 80px;
  height: 80px;
  transform: translate(-50%,-50%);
}

.loader{
  margin-left: 80px;
  margin-bottom: -55px;
  width: 80px;
  height: 80px;
  transform: translate(-50%,-50%);
}

.circular{
  animation: rotate 2s linear infinite;
  height:100% !important;
  position: relative;
  width: 100% !important;
}

.path {
  stroke-dasharray: 1,200;
  stroke-dashoffset: 0;
  stroke:#B6463A;
  animation:
    dash 1.5s ease-in-out infinite,
    color 6s ease-in-out infinite;
  stroke-linecap: round;
}

@keyframes rotate{
  100%{
    transform: rotate(360deg);
  }
}
@keyframes dash{
  0%{
    stroke-dasharray: 1,200;
    stroke-dashoffset: 0;
  }
  50%{
    stroke-dasharray: 89,200;
    stroke-dashoffset: -35;
  }
  100%{
    stroke-dasharray: 89,200;
    stroke-dashoffset: -124;
  }
}
@keyframes color{
  100%, 0%{
    stroke: #298699;
  }
  40%{
    stroke: #57eef1;
  }
  80%, 90%{
    stroke: #4b2999;
  }
}  